* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background: rgb(24,123,205);
    background: linear-gradient(146deg, rgba(24,123,205,1) 22%, rgba(42,157,244,1) 61%, rgba(208,239,255,1) 100%);
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}


.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}


#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 45px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 10px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}


button#3, button#6, button#9 {
    width: 60pxs;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 60px;
    width: 130px;
}

  .calculator.dark {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.3px);
    -webkit-backdrop-filter: blur(17.3px);
    border: 1px solid rgba(255, 255, 255, 0.44);
  }

  .calculator.dark p {
    color: white;
}

  .calculator.dark #display {
    color: #f8fafb;
  }

  .calculator.dark button#clear {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.9px);
    -webkit-backdrop-filter: blur(9.9px);
    border: 1px solid rgba(255, 255, 255, 0.59);
    color:  #187bcd ;
  }

  .calculator.dark button.btn-number {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.9px);
    -webkit-backdrop-filter: blur(9.9px);
    border: 1px solid rgba(255, 255, 255, 0.59);
    color: #187bcd ;
  }

  .calculator.dark button.btn-operator {
    /* From https://css.glass */
    background: rgba(144, 224, 239, 0.57);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.4px);
    -webkit-backdrop-filter: blur(14.4px);
    border: 1px solid rgba(144, 224, 239, 0.44);
    color: #187bcd;
  }
  
  .calculator.dark button.btn-equal {
    background-color: #187bcd ;
    color: #ffffff;
  }
